body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: #070F2B;
    color: #9290C3;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    z-index: 1;
}
.favicon {
  width: 64px; /* Adjust to your favicon size */
  height: 64px;
  background-color: white;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favicon img {
  border-radius: 10%;
}
h2 {
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 1px #535C91;
    background: url('/portfolio/landing/back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
p{
    font-size: 30px;
    color: #fff;
}
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}
.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 600;
    color: #1B1A55;
      box-shadow: 0 0 0 2px #535C91;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #1B1A55;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #070F2B;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
      fill: #3BBA9C;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #3BBA9C;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  .container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#3BBA9C;
    
  }
  .second div {
    background-color:#1B1A55;
   
  }
  .third div {
    background-color:#F5F5DC;
    
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  .wave-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

.wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 60%);
    animation: wave 8s infinite ease-in-out;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.wave-hover {
    pointer-events: all;
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}

.wave-hover:hover .wave {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    animation: wave 2s infinite ease-in-out, ripple 1s ease-out infinite;
}
